{% extends 'main.html' %}

{% block content %}

<div class="container3">
	<div class="exam">
		<div class="teach-list">
			<div>
				<h2>Grade 12</h2>
				<table>
					<thead>
						<tr>
							<th>Teachers</th>
							<th>Subject</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
					{% for exam in exam %}

					<tr>
						<td>{{ exam.teacher.name }}</td>
						<td>{{ exam.teacher.subject }}</td>
						<td>{{ exam.start_time }}</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>

			<div>
				<h2>Grade 11</h2>
				<table>
					<thead>
						<tr>
							<th>Teachers</th>
							<th>Subject</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
					{% for exam in exam %}
					{% if exam.teacher.class_grade.class_grade == 11 %}
					<tr>
						<td>{{ exam.teacher.name }}</td>
						<td>{{ exam.subject }}</td>
						<td>{{ exam.start_time }}</td>
					</tr>
					{% endif %}
					{% endfor %}
					</tbody>
				</table>
			</div>

		</div>
	</div>
	<div class="teach-search">
			<table>
				<h2>Search by:</h2>
				<thead>
					<tr>
						<td>Teachers</td>
						<td>Subject</td>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td><input type="search" placeholder="Search.."/></td>
						<td><input type="search" placeholder="Search.."/></td>
					</tr>
				</tbody>
			</table>
		</div>

</div>


{% endblock %}