{% extends 'main.html' %}

{% block content %}

{% if page == 'school' %}
<div class="stu">
	<div class="stats">
		<div>
			<h2>Grade 12 Students</h2>
			<table>
				<thead>
					<tr>
						<td>Full Name</td>
						<td>Section</td>
					</tr>
				</thead>
				<tbody>
				{% for student in student %}
				{% if student.class_grade.class_grade == 12 %}
					<tr>
						<td>{{ student.name }}</td>
						<td>{{ student.class_grade.section }}</td>
					</tr>
				{% endif %}
				{% endfor %}
				</tbody>
			</table>
		</div>

		<div>
			<h2>Grade 11 Students</h2>
			<table>
				<thead>
					<tr>
						<td>Full Name</td>
						<td>Section</td>
					</tr>
				</thead>
				<tbody>
				{% for student in student %}
				{% if student.class_grade.class_grade == 11 %}

					<tr>
						<td>{{ student.name }}</td>
						<td>{{ student.class_grade.section }}</td>
					</tr>
				{% endif %}
				{% endfor %}
				</tbody>
			</table>
		</div>

	</div>

</div>

{% elif page == 'teacher' %}
	<div class="container3">
		<div class="exam">

			<div class="top-student">
				<h2>Grade 12 Students</h2>
				<table>
					<thead>
						<tr>
							<td>Full Name</td>
							<td>Section</td>
							<td>Sex</td>
							<td>Student Id</td>
						</tr>
					</thead>
					<tbody>
					{% for student in student %}
					{% if student.class_grade.class_grade == 12 %}
						{% for teacher_grade in teacher_grade %}
						{% if student.class_grade == teacher_grade %}
							<tr>
								<td>{{ student.name }}</td>
								<td>{{ student.class_grade.class_grade }}</td>
								<td>{{ student.sex }}</td>
								<td>{{ student.student_id }}</td>
							</tr>
						{% endif %}
						{% endfor %}
					{% endif %}
					{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="top-student">
				<h2>Grade 11 Students</h2>
				<table>
					<thead>
						<tr>
							<td>Full Name</td>
							<td>Section</td>
							<td>Sex</td>
							<td>Exam Result</td>
							<td>Exam Name</td>
						</tr>
					</thead>
					<tbody>
					{% for student in student %}
					{% if student.class_grade.class_grade == 11 %}
						{% for teacher_grade in teacher_grade %}
						{% if student.class_grade == teacher_grade %}
							<tr>
								<td>{{ student.name }}</td>
								<td>{{ student.class_grade.class_grade }}</td>
								<td>{{ student.sex }}</td>
								{% for score in score %}
								{% if score.student_score.name == student.name %}
								<td>{{ score.score }}</td>
								<td>{{ score.subject.unique_name }}</td>
								{% endif %}
								{% endfor %}
							</tr>
						{% endif %}
						{% endfor %}
					{% endif %}
					{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="top-student">
				<h2>Grade 10 Students</h2>
				<table>
					<thead>
						<tr>
							<td>Full Name</td>
							<td>Section</td>
							<td>Sex</td>
							<td>Exam Result</td>
							<td>Exam Name</td>
						</tr>
					</thead>
					<tbody>
					{% for student in student %}
					{% if student.class_grade.class_grade == 10 %}
						{% for teacher_grade in teacher_grade %}
						{% if student.class_grade == teacher_grade %}
							<tr>
								<td>{{ student.name }}</td>
								<td>{{ student.class_grade.class_grade }}</td>
								<td>{{ student.sex }}</td>
								{% for score in score %}
								{% if score.student_score.name == student.name %}
								<td>{{ score.score }}</td>
								<td>{{ score.subject.unique_name }}</td>
								{% endif %}
								{% endfor %}
							</tr>
						{% endif %}
						{% endfor %}
					{% endif %}
					{% endfor %}
					</tbody>
				</table>
			</div>

		</div>

		<div class="teach-search">
			<table>
				<h2>Search by:</h2>
				<thead>
					<tr>
						<td>Full Name</td>
					</tr>
				</thead>

				<tbody>
					<tr>
						<form method="GET">
							<td><input type="search" name="q" placeholder="Search.."/></td>
						</form>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>

{% endif %}
{% endblock %}