{% extends 'main.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}


	<div class="container3">
		<main>
			<header>
				<h2>Welcome, {{teacher.name}}</h2>
				<div class="register-btn">
					<a href="{% url 'create-exam' %}">
						<button type="button" class="btn"> Register Exam </button>
					</a>
				</div>
			</header>

			<div class="insights">
				<div class="total student">
					<span class="material-icons-sharp"> school </span>
					<div class="middle">
						<h2>Students</h2>
						<h1>{{ stu_num }}</h1>
					</div>
				</div>

				<div class="total teacher">
					<span class="material-icons-sharp"> supervisor_account </span>
					<div class="middle">
						<h2>Average Result</h2>
						<h1>33</h1>
					</div>
				</div>

				<div class="total parent">
					<span class="material-icons-sharp"> person </span>
					<div class="middle">
						<h2>Top students</h2>
						<h1>10</h1>
					</div>
				</div>
			</div>

			<div class="stats">
<!--						STUDENT LIST-->
				<div>
					<h2>Students</h2>
					<table>
						<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Class</th>
							<th scope="col">Section</th>
							<th scope="col">Sex</th>
						</tr>
						</thead>
						<tbody>

						{% for student in student %}
						{% for teacher_grade in teacher_grade %}
							{% if student.class_grade == teacher_grade %}
							<tr>
								<td>{{ student.name }}</td>
								<td>{{ student.class_grade.class_grade }}</td>
								<td>{{ student.class_grade.section }}</td>
								<td>{{ student.sex }}</td>

							</tr>
							{% endif %}
						{% endfor %}
						{% endfor %}

						</tbody>
					</table>
				</div>

			</div>

		</main>

		<div class="right">
	<!--			EXAM-->
			<div class="recent-updates">
				<h2>Exam-History</h2>
				<div class="updates">
				{% for exam in exam %}
					<div class="update">
						<div class="unique">
							{{ exam.unique_name }}
						</div>
						<div>
							<small class="text-muted">{{ exam.start_time.date }}</small>
						</div>
					</div>
				{% endfor %}
					<a href="{% url 'upcoming-exam' %}">See in detail</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}