{% extends 'main.html' %}

{% block content %}

<div>
	<div class="exam">
		<table>
			<thead>
			<tr>
				<th>Unique Name</th>
				<th>Number of questions</th>
				<th>Created</th>
				<th>Exam date</th>
				<th>Detail</th>
			</tr>

			</thead>

			<tbody>
			{% for exam in exam %}
				<tr>
					<td>{{ exam.unique_name }}</td>
					<td>{{ exam.no_of_questions }}</td>
					<td>{{ exam.created.date }}</td>
					<td>{{ exam.start_time.date }}</td>
					<td><a href="{% url 'exam-detail' exam.id %}">Detail</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

</div>

{% endblock %}