{% extends 'main.html' %}
{% load static %}
{% block content %}

	<div class="row side">
			<div class="col-sm-2">
				{% include 'sidebar/school_sidebar.html' %}
			</div>
			<div class="col-sm-8" style="background-color: #e9ecef;">
				<div class="">
					<div class="d-flex bd-highlight m-3">
						<div class="p-2 flex-grow-1 bd-highlight" style="font-size: 20px">Welcome, {{school.name}}</div>
						<div class="p-2 bd-highlight">
							<a href="{% url 'add-class' user.id %}" class="button-color">
								<button type="button" class="btn btn-primary" style="font-size: 12px;">
									Add Class Grade
								</button>
							</a>
						</div>
						<div class="p-2 bd-highlight">
							<a href="{% url 'register-student' %}" class="button-color">
								<button type="button" class="btn btn-primary" style="font-size: 12px;">
									Register student
								</button>
							</a>
						</div>
						<div class="p-2 bd-highlight">
							<a href="{% url 'register-teacher' %}" class="button-color">
								<button type="button" class="btn btn-primary" style="font-size: 12px;">
									Register Teacher
								</button>
							</a>
						</div>
					</div>
					<div class="row m-2">
						<div class="col-sm-4">
							<div class="card" style="border-radius: 20px;">
								<div class="card-body text-center">
									<a class="card-title text-decoration-none" style="font-size:16px;" href="{% url 'student-list' user.id %}">Students</a>
									<p class="card-text"><b>{{student.count}}</b></p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card" style="border-radius: 20px;">
								<div class="card-body text-center">
									<a class="card-title text-decoration-none" style="font-size:16px;" href="{% url 'teacher-list' user.id %}">Teachers</a>
									<p class="card-text"><b>{{teacher.count}}</b></p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card" style="border-radius: 20px;">
								<div class="card-body text-center">
									<a class="card-title text-decoration-none" style="font-size:16px;" href="#">Registered Parents</a>
									<p class="card-text"><b>0</b></p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
<!--						STUDENT LIST-->
						<div class="col-sm-5 bg-light m-3" style="border-radius: 20px;">
							<a href="#" class="text-center text-decoration-none m-3" style="font-size:16px">Students</a>
							<table class="table text-center">
								<thead>
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Class</th>
									<th scope="col">Sex</th>
								</tr>
								</thead>
								<tbody>

								{% for student in student %}
								<tr>
									<td>{{ student.name }}</td>
									<td>{{ student.class_grade }}</td>
									<td>{{ student.sex }}</td>

								</tr>
								{% endfor %}

								</tbody>
							</table>
						</div>
<!--						TEACHER LIST-->
						<div class="col-sm-5 bg-light m-3 m1-0" style="border-radius: 20px;">
							<a href="#" class="text-center text-decoration-none m-3" style="font-size:16px">Teacher</a>
							<table class="table text-center">
								<thead>
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Subject</th>
									<th scope="col">Sex</th>
								</tr>
								</thead>
								<tbody>
								{% for teacher in teacher %}
								<tr>
									<td><a href="{% url 'profile' teacher.id %}" class="text-decoration-none">{{ teacher.name }}</a></td>
									<td>{{ teacher.subject }}</td>
									<td>{{ teacher.sex }}</td>
								</tr>
								{% endfor %}

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-2">

	<!--			EXAM-->
				<div class="card mt-2">
					<div class="card-header p-0">
							Upcoming Exam
						</div>
						{% for exam in exam %}
								<div class="card-body p-0">
									<span class="card-title" style="font-size:15px"><b>{{exam.subject}}</b> ---  {{ exam.choose_answer}}
										<a href="{% url 'upcoming-exam' exam.id%}" class="card-text text-decoration-none" style="font-size:12px">{{exam.date}}</a>
									</span>
								</div>
						{% endfor %}
				</div>
			</div>
	</div>

{% endblock content %}