{% extends 'main.html' %}

{% block content %}
<div>
	<h2>Announcement</h2>
	{% for announce in announce %}
	{% if announce.to == request.user.role %}

		<h5><a href="{% url 'announcement' announce.id %}">{{ announce.subject }}</a> </h5>

	{% endif %}
	{% endfor %}
</div>


<div>
	<div>
		<h2>Upcoming Exams:</h2>
		{% for exam in exam %}
			<a href="{% url 'upcoming-exam' exam.id %}">
				<div>
					{{exam.subject}} : {{exam.date}}
				</div>
			</a>
		{% endfor %}
	</div>


	<div>
		<h2>Your score:</h2>
		{% for score in score %}
			{% if request.user.name == score.student_score.name %}
				<h4>{{ score.subject }} --- {{score.score}}</h4>
			{% endif %}
		{% endfor %}
	</div>
	<div>
		<h2>Your teachers:</h2>
		{% for teacher in teacher %}
				<a href="{% url 'profile' teacher.id %}">{{ teacher.name }}</a>
		{% endfor %}
	</div>
</div>

{% endblock content %}
