{% load static %}

{% block content %}

<ul class="list-group list-group-flush pt-4">
	<li class="list-group-item"><a href="{% url 'administrator' user.id %}" class="text-decoration-none">Dashboard</a></li>
	<li class="list-group-item"><a href="{% url 'student-list' user.id %}" class="text-decoration-none">Students</a></li>
	<li class="list-group-item"><a href="{% url 'teacher-list' user.id %}" class="text-decoration-none">Teachers</a></li>
	<li class="list-group-item"><a href="{% url 'exam-list' user.id %}" class="text-decoration-none">Exam list</a></li>
	<li class="list-group-item"><a href="#" class="text-decoration-none">Accounts</a></li>
</ul>

{% endblock %}