{% load static %}
{% block content %}

<aside>
	<div class="sidebar">
		{% url 'teacher' user.id as url %}
		<a class="{% if request.path == url %}active{% endif %}" href="{{ url }}">
			<span class="material-symbols-sharp" > grid_view</span>
			<h3>Dashboard</h3>
		</a>

		{% url 'student-list-teacher' user.id as url %}
		<a class="{% if request.path == url %}active{% endif %}" href="{{ url}}">
			<span class="material-icons-sharp"> school </span>
			<h3>Student</h3>
		</a>

		{% url 'exam-result' user.id as url %}
		<a class="{% if request.path == url %}active{% endif %}" href="{{ url }}">
			<span class="material-icons-sharp"> receipt_long </span>
			<h3>Exam-result</h3>
		</a>

		{% url 'upcoming-exam' as url %}
		<a class="{% if request.path == url %}active{% endif %}" href="{{ url }}">
			<span class="material-icons-sharp"> receipt_long </span>
			<h3>Upcoming-exam</h3>
		</a>
		<a href="#">
			<span class="material-symbols-sharp"> insights</span>
			<h3>Analysis</h3>
		</a>
		{% url 'report' request.user.id as url %}
		<a class="{% if request.path == url %}active{% endif %}" href="{{url}}">
			<span class="material-symbols-sharp"> report_gmailerrorred</span>
			<h3>Reports</h3>
		</a>
	</div>
</aside>

{% endblock %}

