{% block content %}


<aside>
	<div class="sidebar">
		<a class="active" href="{% url 'teacher' user.id %}">
			<span class="material-symbols-sharp" > grid_view</span>
			<h3>Dashboard</h3>
		</a>
		<a href="{% url 'student-list' user.id %}">
			<span class="material-icons-sharp"> school </span>
			<h3>Student</h3>
		</a>
		<a href="{% url 'exam-list' user.id %}">
			<span class="material-icons-sharp"> receipt_long </span>
			<h3>Exam-list</h3>
		</a>
		<a href="#">
			<span class="material-symbols-sharp"> insights</span>
			<h3>Analysis</h3>
		</a>
		<a href="#">
			<span class="material-symbols-sharp"> report_gmailerrorred</span>
			<h3>Reports</h3>
		</a>
	</div>
</aside>

{% endblock %}

